// <a class="btn">
// <p class="btn__text">Découvrir l'offre</p>
// <svg
//   class="btn__svg"
//   width="20"
//   height="15"
//   viewBox="0 0 20 15"
//   fill="none"
//   xmlns="http://www.w3.org/2000/svg"
// >
//   <path
//     d="M13.4678 0.680002C13.1953 0.398007 12.7418 0.398007 12.4598 0.680002C12.1874 0.952469 12.1874 1.40595 12.4598 1.67778L17.5707 6.78861H0.705621C0.31248 6.78924 0 7.10172 0 7.49486C0 7.888 0.31248 8.21065 0.705621 8.21065H17.5707L12.4598 13.3119C12.1874 13.5939 12.1874 14.0481 12.4598 14.3199C12.7418 14.6019 13.1959 14.6019 13.4678 14.3199L19.7885 7.99915C20.0705 7.72668 20.0705 7.27321 19.7885 7.00137L13.4678 0.680002Z"
//     fill="#FBFBFB"
//   />
// </svg>
// </a>

.btn {
  width: 210px;
  height: 51px;
  background: $color-primary;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  border: solid 2px $color-primary;

  &__text {
    margin-left: 20px;
    line-height: 132.76%;
    font-weight: normal;
  }

  &__svg {
    margin-right: 20px;
  }

  &:hover {
    box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.3);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.3);
    transform: translateY(0px);
  }
}

.btn--light {
  background: $color-neutral-light;
  border: solid 2px $color-neutral-dark;
  color: $color-neutral-dark;

  & svg path {
    fill: $color-neutral-dark;
  }
}
