.btn {
  cursor: pointer;
  width: 210px;
  height: 51px;
  background: $color-primary;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  border: solid 2px $color-primary;
  overflow: hidden;

  &__text {
    margin-left: 20px;
    line-height: 132.76%;
    font-weight: normal;
  }

  &__svg {
    overflow: hidden;
    margin-right: 20px;
    transition: transform 0.2s cubic-bezier(0.93, 0, 0.74, 0.79);
  }

  &:hover {
    box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.3);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.3);
    transform: translateY(0px);
    & svg {
      transform: translateX(100px);
    }
  }
}

.btn--light {
  background: $color-neutral-light;
  border: solid 2px $color-neutral-dark;
  // color: $color-neutral-dark; dark-mode

  & svg path {
    fill: $color-neutral-dark;
  }
}
