.card--primary.card {
  @include card($color-primary);
}
.card--secondary.card {
  @include card($color-secondary);
}

.card--tertiary.card {
  @include card($color-tertiary);
}

.opened {
  & .card__more {
    height: 100%;
  }
  .card__btn {
    &::before,
    &::after {
      background-color: $color-neutral-light;
    }
    &::after {
      opacity: 0;
    }
  }
}
