.link {
  height: 50px;
  font-family: "Poppins", sans-serif;
  color: $color-neutral-dark;
  font-size: 16px;
  align-items: center;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  border-bottom: 1px solid #000;
}
