.link {
  height: 5rem;
  font-family: "Poppins", sans-serif;
  color: $color-neutral-dark;
  font-size: 1.6rem;
  align-items: center;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  border-bottom: 1px solid #000;
}
