// <div class="section-heading section-heading--primary">
// <p class="section-heading__title section-heading--primary">
//   Nos liquides végétaux
// </p>
// <p class="section-heading__subtitle section-heading--primary">
//   pimp ta veste
// </p>
// </div>

.section-heading--primary.section-heading {
  @include section-heading($color-primary);
}

.section-heading--secondary.section-heading {
  @include section-heading($color-secondary);
}

.section-heading--tertiary.section-heading {
  @include section-heading($color-tertiary);
}

.section-heading--tertiary--italic.section-heading {
  // MODIFIER FOR KOLLAB ARTIST
  @include section-heading($color-tertiary);
  & .section-heading__title {
    font-style: normal;
  }
  & .section-heading__subtitle {
    font-style: italic;
    font-family: "Poppins";
    font-size: 16px;
  }
}

.section-heading {
  &__title {
    font-size: 24px;
    @include respond-below(xs) {
      font-size: 18px;
    }
  }
  &__subtitle {
    font-size: 26px;
    @include respond-below(sm) {
      display: flex;
      justify-content: center;
    }
    @include respond-below(xs) {
      font-size: 16px;
    }
  }
}
