.steamer {
  overflow: hidden;
  height: 0;
  width: 100%;
  background-color: $color-primary;
  color: $color-neutral-light;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 132.76%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: height 0.3s ease-in-out;
}

.steamer--active {
  height: 40px;
  animation: steamer-closin 0.3s 10s forwards ease-out;
}

.steamer {
  @include respond-below(sm) {
    display: none;
  }
}

.steamer-closin {
  height: 0px;
}
