body {
  transition: background-color 0.5s;
  //overflow: hidden;
}
.custom {
  font-family: "Poppins";
}

.header-custom {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 30px;
  width: 100vw;
  &__title {
    font-size: 36px;
    font-weight: 600;
  }
}
.custom__logo {
  position: absolute;
  top: 25px;
  left: 50px;
  font-family: "Cedarville Cursive";
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  em {
    color: $color-secondary;
  }
}

.steper {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 16px;
    opacity: 0.5;

    &.visible-step {
      opacity: 1;
    }
  }
  p:not(:last-child)::after {
    content: "";
    opacity: 1;
    width: 60px;
    height: 1px;
    margin: 10px 10px 5px 10px;
    display: inline-block;
    background-color: $color-primary;
  }
  p:nth-child(1)::after {
    background-color: $color-tertiary;
  }
  p:nth-child(2)::after {
    background-color: $color-primary;
    opacity: 1;
  }
  p:nth-child(3)::after {
    background-color: $color-secondary;
    opacity: 1;
  }
}

.section-custom {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  &__image {
    width: 318px;
    position: relative;
    .custom__svg {
      transition: opacity 0.5s;
      stroke: $color-tertiary;
      width: 150px;
      position: absolute;
      top: 120px;
      left: 150px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    width: 50%;
    p {
      font-size: 24px;
      font-weight: 400;
      .dots_three {
        margin-left: 10px;
      }
    }
  }
  &__btn {
    visibility: hidden;
  }
}

.form__color {
  &__inputs {
    display: flex;
    width: 150px;
    margin: 20px 0px 20px 0px;
    justify-content: space-between;
  }
  &__input {
    width: 60px;
    height: 60px;
    border-radius: 70px;
    opacity: 0.8;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: transparent;
    &:hover {
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }
  }
}

.form__size {
  &__inputs {
    display: flex;
    justify-content: space-between;
  }
  &__input {
    margin: 20px 0px 20px 0px;
    font-size: 16px;
    font-weight: 300;
    width: 60px;
    transition: background-color 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 70px;
    border: 1px solid $color-neutral-dark;
    opacity: 0.5;
    color: rgba($color: $color-neutral-dark, $alpha: 0.5);

    &:hover {
      opacity: 1;
      background-color: $color-neutral-dark;
      color: $color-neutral-light;
    }
    &.active {
      opacity: 1;
      background-color: $color-neutral-dark;
      color: $color-neutral-light;
    }
  }
}

.form__color__input--white {
  // APPLY ON WHITE MODIFIER
  border: 0.5px solid $color-neutral-dark;
  &.active {
    color: $color-neutral-dark;
  }
}

.form__color__input--black {
  // APPLY ON BLACK MODIFIER
  border: solid 0.5px transparent;
  background-color: $color-neutral-dark;
  &.active {
    color: $color-neutral-light;
  }
}

.section-custom__form--2 {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;

  &.visible {
    visibility: visible;
    position: static;
    opacity: 1;
  }
}

.form__ink {
  &__label {
    em {
      font-weight: 600;
    }
  }
  &__info {
    margin-bottom: 5%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 132.76%;
  }
  &__inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 225px;
    transition: opacity 0.5s, box-shadow 0.5s, transform 0.2s,
      border-radius 0.5s;
    opacity: 0.5;

    & h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 132.76%;
      margin-bottom: 5%;
    }

    & p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
    }

    &:hover {
      opacity: 1;
      border-radius: 20px;
      transform: translateY(-5px);
      box-shadow: 2px 18px 24px -9px rgba(158, 155, 158, 1);
    }
    &.active {
      opacity: 1;
    }
  }
}

.section-custom__image--white {
  position: absolute;
  left: 100px;
  transition: 0.5s;
}

.section-custom__image--black {
  transition: 0.5s;
  position: absolute;
}

.section__custom__container {
  width: 80%;
  height: 40px;
  margin-left: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5%;
}
