.custom {
  font-family: "Poppins";
}

.header-custom {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 30px;
  width: 100vw;
  &__title {
    font-size: 36px;
    font-weight: 600;
  }
}
.custom__logo {
  position: absolute;
  top: 25px;
  left: 50px;
  font-family: "Cedarville Cursive";
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steper {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 16px;
    color: $color-neutral-dark;
  }

  p:not(:last-child)::after {
    content: "";
    width: 60px;
    height: 1px;
    margin: 10px 10px 5px 10px;
    display: inline-block;
    background-color: $color-primary;
  }
  p:nth-child(1)::after {
    background-color: $color-tertiary;
  }
  p:nth-child(2)::after {
    background-color: $color-primary;
  }
  p:nth-child(3)::after {
    background-color: $color-secondary;
  }
}

.section-custom {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 200px auto;
  &__image {
    width: 318px;
  }
  &__choice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    p {
      font-size: 24px;
      font-weight: 400;
      color: $color-neutral-dark;
      .dots_three {
        margin-left: 10px;
      }
    }
  }
  &__btn {
    visibility: hidden;
    position: absolute;
    right: 5%;
    bottom: 5%;
  }
}

.choice--color {
  display: flex;
  flex-direction: column;
}

.color__circles {
  // APPLY ON THE CONTAINER
  display: flex;
  width: 150px;
  margin: 20px 0px 20px 0px;
  justify-content: space-between;
}

.color__circle {
  // APPLY ON BOTH COLOR CIRCLE
  width: 60px;
  height: 60px;
  border-radius: 70px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: transparent;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
  }
}

.color__circle--white {
  // APPLY ON WHITE MODIFIER
  border: 0.5px solid $color-neutral-dark;
  &.active {
    color: $color-neutral-dark;
  }
}

.color__circle--black {
  // APPLY ON BLACK MODIFIER
  border: solid 0.5px transparent;
  background-color: $color-neutral-dark;
  &.active {
    color: $color-neutral-light;
  }
}

.size__circles {
  display: flex;
  justify-content: space-between;
  .size__circle {
    margin: 20px 0px 20px 0px;
    font-size: 16px;
    font-weight: 300;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 70px;
    border: 1px solid $color-neutral-dark;
    opacity: 0.5;
    color: rgba($color: $color-neutral-dark, $alpha: 0.5);

    &:hover {
      opacity: 1;
      background-color: $color-neutral-dark;
      color: $color-neutral-light;
    }
    &.active {
      opacity: 1;
      background-color: $color-neutral-dark;
      color: $color-neutral-light;
    }
  }
}
