.custom {
  font-family: "Poppins";
}

.header-custom {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 30px;
  width: 100vw;
  &__title {
    font-size: 36px;
    font-weight: 600;
  }
}
.custom__logo {
  position: absolute;
  top: 25px;
  left: 50px;
}

.steper {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 16px;
    color: $color-neutral-dark;
  }

  p:not(:last-child)::after {
    content: "";
    width: 60px;
    height: 1px;
    margin: 10px 10px 5px 10px;
    display: inline-block;
    background-color: $color-primary;
  }
  p:nth-child(1)::after {
    background-color: $color-tertiary;
  }
  p:nth-child(2)::after {
    background-color: $color-primary;
  }
  p:nth-child(3)::after {
    background-color: $color-secondary;
  }
}

.section-custom {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 200px auto;
  &__image {
    width: 318px;
  }
  &__choice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    p {
      font-size: 24px;
      font-weight: 400;
      color: $color-neutral-dark;
      .dots_three {
        margin-left: 10px;
      }
    }
  }
}

.choice--color {
  display: flex;
  flex-direction: column;
}

.color__circle {
  display: flex;
  width: 150px;
  margin: 20px 0px 20px 0px;
  justify-content: space-between;
}

.circle--white {
  width: 60px;
  height: 60px;
  border-radius: 70px;
  border: 0.5px solid black;
}

.circle--black {
  width: 60px;
  height: 60px;
  border-radius: 70px;
  background-color: black;
}
.size__circle {
  display: flex;
  justify-content: space-between;
  div {
    margin: 20px 0px 20px 0px;
    font-size: 16px;
    font-weight: 300;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 70px;
    border: 1px solid black;
  }
}
