.home-prods {
  display: flex;
  flex-direction: column;

  &__products {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__product {
    width: 30%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__img {
      margin-top: 5%;
      width: 80%;
      height: 300px;
    }

    &__text {
      height: 40px;
      width: 80%;
      margin-bottom: 5%;
      margin-top: 3%;
      display: flex;
      flex-direction: column;

      h2 {
        line-height: 132.8%;
        font-size: 16px;
        margin-bottom: 8px;
      }
      p {
        font-size: 12px;
        color: $color-neutral;
        margin-bottom: 8px;
      }
    }
    &__price {
      margin-top: 8px;
      height: 40px;
      width: 80%;
      display: flex;
      justify-content: flex-start;
      font-size: 16px;
      margin-bottom: 8px;
    }
    &__cta {
      height: 10%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        margin-right: 5%;
      }
      a {
        height: 50%;
        width: 30%;
        p {
          margin-left: 0px;
        }
      }
    }
  }
}

.home-prods__product__img--marker {
  background: url("../assets/product-marker.png") no-repeat center center;
}

.home-prods__product__img--jacket {
  background: url("../assets/product-jacket.png") no-repeat center center;
}

.home-prods__product__img--ink {
  background: url("../assets/product-inks.png") no-repeat center center;
}
@include respond-below(sm) {
  .home-prods {
    width: 100%;
    .section-heading {
      h2 {
        display: flex;
        justify-content: center;
      }
    }
    &__products {
      flex-direction: column;
      height: auto;
    }
    &__product {
      height: 400px;
      align-items: center;
      width: 100%;

      &__cta {
        justify-content: center;
        width: 300px;
        img {
          display: none;
        }
      }
      &__text {
        align-items: center;
        width: 100%;
      }

      &__price {
        justify-content: center;
      }
    }
  }
}
