// .hamburger.menu-is-opened:before {
//   transform: rotate(45deg);
//   top: 8px;
//   left: 0;
// }

// .hamburger.menu-is-opened:after {
//   transform: rotate(135deg);
//   top: 8px;
//   left: 0;
// }

.menu {
  display: none;
  @include respond-below(sm) {
    display: block;
  }
  &__menu {
    height: 0px;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    background-color: $color-neutral-light;
    z-index: 10;
    transition: height 0.3s ease-in-out;
    & ul {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.2rem;
      height: 100%;
      & li {
        height: 100%;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 500;
      }
      & a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: $color-primary;
          color: $color-neutral-light;
        }
        color: $color-primary;
        text-decoration: none;
      }
    }
  }

  &__icon {
    position: fixed;
    z-index: 11;
    top: 5rem;
    right: 5rem;
    position: fixed;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

.menu-is-opened {
  menu {
    height: 100vh;
  }
  & .hamburger:before {
    background-color: $color-primary;
    transform: rotate(45deg);
    top: 8px;
    left: 0;
  }

  .hamburger:after {
    background-color: $color-primary;
    transform: rotate(135deg);
    top: 8px;
    left: 0;
  }
}

.hamburger {
  position: relative;
}

.hamburger:after {
  top: 14px;
}
.hamburger:after,
.hamburger:before {
  position: absolute;
  content: "";
  height: 4px;
  width: 32px;
  background: $color-primary;
  -webkit-transition: transform 500ms cubic-bezier(0, 1, 1, 0.875),
    background-color 0.3s ease; /* older webkit */
  -webkit-transition: transform 500ms cubic-bezier(0, 1.65, 1, 0.875),
    background-color 0.3s ease;
  -moz-transition: transform 500ms cubic-bezier(0, 1.65, 1, 0.875),
    background-color 0.3s ease;
  -o-transition: transform 500ms cubic-bezier(0, 1.65, 1, 0.875),
    background-color 0.3s ease;
  transition: transform 500ms cubic-bezier(0, 1.65, 1, 0.875),
    background-color 0.3s ease; /* custom */
}

// .menu {
//   position: fixed;
//   top: 0px;
//   height: 0px;
//   width: 100%;
//   background-color: #0f1013;
//   z-index: 3;
//   overflow: hidden;
//   transition: height 500ms ease;

//   & ul {
//     display: flex;
//     justify-content: space-around;
//     flex-direction: column;
//     text-transform: uppercase;
//     font-weight: bold;
//     letter-spacing: 0.2rem;
//     height: 100%;
//     & li {
//       height: 100%;
//       text-align: center;
//       font-size: 2.4rem;
//       font-weight: 500;
//     }
//     & a {
//       width: 100%;
//       height: 100%;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       &:hover {
//         background-color: $color-primary;
//         color: $color-secondary;
//       }
//       color: $color-primary;
//       text-decoration: none;
//     }
//   }
// }

// .menu-is-grown {
//   height: 100vh;
//   position: fixed;
// }

// .menu__icon {
//   @media only screen and (min-width: $bp-sm) {
//     display: none;
//   }
//   top: 5rem;
//   right: 5rem;
//   position: fixed;
//   width: 40px;
//   height: 40px;
//   cursor: pointer;
//   z-index: 6;
// }

// .hamburger {
//   position: relative;
// }

// .hamburger:after {
//   top: 14px;
// }
// .hamburger:after,
// .hamburger:before {
//   position: absolute;
//   content: "";
//   height: 4px;
//   width: 32px;
//   background: #ffffff;
//   -webkit-transition: transform 500ms cubic-bezier(0, 1, 1, 0.875); /* older webkit */
//   -webkit-transition: transform 500ms cubic-bezier(0, 1.65, 1, 0.875);
//   -moz-transition: transform 500ms cubic-bezier(0, 1.65, 1, 0.875);
//   -o-transition: transform 500ms cubic-bezier(0, 1.65, 1, 0.875);
//   transition: transform 500ms cubic-bezier(0, 1.65, 1, 0.875); /* custom */
// }
