@keyframes draw {
  0% {
    stroke-dashoffset: 0%;
  }
}
.draw-svg {
  z-index: 1;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation-name: draw;
  animation-direction: alternate-reverse;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-timing-function: cubic-bezier(0.14, 0.15, 0.1, 0.05);
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes move {
  0% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 0%;
  }
}

.float {
  animation-name: move;
  animation-direction: alternate-reverse;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-timing-function: cubic-bezier(0.14, 0.15, 0.1, 0.05);
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  transform: rotate(90deg);
  image-orientation: 90deg flip;
}

@keyframes waving {
  0% {
    transform: skewX(15deg);
    text-shadow: 0 0 100px $color-neutral-dark;
    opacity: 0;
  }
  5% {
    text-shadow: 0 0 90px $color-neutral-dark;
  }
  15% {
    opacity: 1;
  }
  20% {
    text-shadow: 0 0 0px $color-neutral-dark;
    transform: skewX(0deg);
  }
  100% {
    text-shadow: 0 0 0px $color-neutral-dark;
    transform: skewY(15deg);
    opacity: 0;
  }
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 100px #fff;
    opacity: 1;
  }
  5% {
    text-shadow: 0 0 90px #fff;
  }
  15% {
    opacity: 1;
  }
  20% {
    text-shadow: 0 0 0px #fff;
  }
  40% {
    text-shadow: 0 0 90px #fff;
  }
  60% {
    text-shadow: 0 0 0px #fff;
  }
  80% {
    text-shadow: 0 0 90px #fff;
  }

  85% {
    opacity: 1;
  }
  95% {
    text-shadow: 0 0 90px #fff;
  }
  100% {
    text-shadow: 0 0 100px #fff;
    opacity: 1;
  }
}

@keyframes rotate-down {
  0% {
    transform: translateY(-40px);
  }
  20% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
  }
}

.drop {
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(rgba(13, 52, 58, 1)),
    to(rgba(255, 255, 255, 0.6))
  );
  background: -moz-linear-gradient(
    top,
    rgba(13, 52, 58, 1) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  width: 1px;
  height: 89px;
  position: absolute;
  bottom: 200px;
  -webkit-animation: fall 0.63s linear infinite;
  -moz-animation: fall 0.63s linear infinite;
}

@-webkit-keyframes fall {
  to {
    margin-top: 900px;
  }
}
@-moz-keyframes fall {
  to {
    margin-top: 900px;
  }
}

@keyframes draw-kollab {
  from {
    stroke-dashoffset: 0%;
  }
}

.kollab-artist__svg {
  & path {
    stroke-dasharray: 600;
    stroke-dashoffset: 650;
    animation: draw-kollab 3s linear infinite alternate;
  }
}

.fade-out {
  opacity: 0;
  transform: translateX(-1000px);
}

.zoom-in {
  transform: scale(1.1);
}

.translate-black {
  transform: translateX(100px);
  @include respond-below(sm-md) {
    transform: translateX(40px);
  }
}
@include respond-below(sm-md) {
  .translate-white {
    transform: translateX(-65px);
  }
}

.fade-out-svg {
  opacity: 0;
  transform: translateX(-1000px);
}

@keyframes steamer-movin {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(1800px);
  }
}

.steamer-movin {
  animation: steamer-movin 30s ease alternate infinite;
}

.steamer-closin {
  height: 0px;
}
