.display-none {
  display: none;
}

.visible-block-opacity {
  display: block;
  opacity: 1;
}

div.opacity-1 {
  opacity: 1;
}

.pre {
  font-family: monospace;
  white-space: pre;
  display: none;
}
