.canvas__body {
  overflow: hidden;
  position: absolute;
  display: flex;
  background: $color-neutral-light;
  z-index: 500;
  cursor: none;
  // transform: translateX(100%);
  transition: 0.2s width 0.5s, height 0.5s, opacity 0.4s;
  @include respond-below(md) {
    display: none;
  }
}
#canvas__acces {
  @include respond-below(md) {
    display: none;
  }
}

.canvas-is-closed {
  width: 0%;
  height: 0%;
  opacity: 0;
  display: none;
}

.canvas-is-open {
  width: 70%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
}

#canvas__left {
  position: absolute;
  left: 0px;
  z-index: 1;
  pointer-events: none;
}
#canvas__draw {
  position: absolute;
  z-index: 10;
}

.options {
  position: absolute;
  z-index: 13;
  width: 25vw;
  height: 600px;
  left: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h2 {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.canvas__buttons {
  left: 45%;
  top: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: flex-end;
}

.button {
  width: 36px;
  height: 36px;
  border-radius: 20px;
  margin-top: 24px;
  &__title {
    width: 80%;
    font-family: "Poppins";
    font-size: 24px;
    margin-left: 10%;
  }
  &__red {
    background: $color-tertiary;
  }
  &__blue {
    background: $color-primary;
  }
  &__yellow {
    background: $color-secondary;
  }
  &:hover {
    cursor: pointer;
  }
}

.color__title {
  width: 80%;
  font-family: "Poppins";
  font-size: 24px;
  margin-top: 48px;
  margin-bottom: 10%;
  margin-left: 10%;
}

/* SIZE */

.size_option {
  width: 100%;
  height: 30px;
  font-family: "Poppins";
  font-size: 24px;
  margin-top: 24px;
}

.size {
  width: 100%;
  height: 100px;

  @include flex__center;
  justify-content: space-around;
  margin-top: 24px;
  &__small {
    width: 36px;
    height: 36px;
    border: 2px solid $color-neutral-dark;
    border-radius: 50%;
    background-color: $color-neutral-light;
    color: $color-neutral-dark;

    &:hover {
      cursor: pointer;
      background: $color-neutral-dark;
      color: $color-neutral-light;
    }
  }

  &__medium {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid $color-neutral-dark;
    background-color: $color-neutral-light;
    color: $color-neutral-dark;

    &:hover {
      cursor: pointer;
      background: $color-neutral-dark;
      color: $color-neutral-light;
    }
  }

  &__big {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid $color-neutral-dark;
    background-color: $color-neutral-light;
    color: $color-neutral-dark;

    &:hover {
      cursor: pointer;
      background: $color-neutral-dark;
      color: $color-neutral-light;
    }
  }
}

// KOLOROS

.canvas__koloros {
  width: 80%;
  height: 300px;
  @include flex__column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 10%;

  .canvas__basic__container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    .canvas__basic {
      height: 30px;
      width: 30px;
      border: 2px solid black;
      border-radius: 50%;
      @include flex__center;
    }
    .canvas__basic__text {
      font-family: "Poppins";
      font-size: 20px;
    }
  }
  .canvas__hydro__container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    .canvas__hydro {
      height: 30px;
      width: 30px;
      border: 2px solid black;
      border-radius: 50%;
      @include flex__center;
    }
    .canvas__hydro__text {
      font-family: "Poppins";
      font-size: 20px;
    }
  }
  .canvas__fluo__container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    .canvas__fluo {
      height: 30px;
      width: 30px;
      border: 2px solid black;
      border-radius: 50%;
      @include flex__center;
    }
    .canvas__fluo__text {
      font-family: "Poppins";
      font-size: 20px;
    }
  }
}

/* CURSOR STYLE */

#cursor {
  position: absolute;
  z-index: 30;
  cursor: none;
  height: 5px;
  width: 5px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background: #f82155;
  border-radius: 50%;
  border: 2px solid;
}

/* IFRAMES OF THE CANVAS TO INCLUDE IT INTO THE LANDING PAGE */

.canvas__close {
  position: absolute;
  z-index: 200;
  right: 20px;
  background: $color-neutral-dark;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  cursor: none;
  &:hover {
    cursor: pointer;
    background: $color-neutral-dark;
    color: $color-neutral-light;
  }
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes close {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* ERASER */

.eraser {
  width: 150px;
  height: 50px;
  border: 1px solid $color-neutral-dark;
  border-radius: 30px;
  margin-top: 48px;
  color: $color-neutral-dark;
  font-size: 16px;
  @include flex__center;
  font-family: "Poppins";
  &:hover {
    cursor: pointer;
    background: $color-neutral-dark;
    color: $color-neutral-light;
  }
}
