.preview {
  position: absolute;
  width: 800px;
  height: 500px;

  z-index: 40; // Z-INDEX 40 !
  top: 88px;
  right: 40px;
  background-color: $color-neutral-light;
  border: 2px solid black;
}
.canvas__container:hover {
  cursor: none;
}
#cursor {
  position: absolute;
  z-index: 100;
  cursor: none;
  height: 0.5px;
  width: 0.5px;
  transition: 0.1s;
  transform: translate(-50%, 50%);
  pointer-events: none;
  border: 2px solid #f82155;
  border-radius: 50px;
}

.canvas__container {
  position: absolute;

  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-image: url("../assets/test.png");
  background-repeat: no-repeat;
  width: 60%;
  height: 80%;
  position: absolute;
  z-index: 29;
  background-position: center;
}

.canvas__cadre {
  width: 90px;
  height: 130px;
  position: absolute;
  top: 40%;
  left: 40%;
  pointer-events: none;
  z-index: 30;
}

.canvas__container__choices {
  width: 40%;
  height: 100%;
  position: absolute;

  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.canvas__erase {
  position: absolute;
  width: 220px;
  height: 40px;
  border-radius: 30px;
  border: 1.5px solid $color-neutral-dark;
  border-radius: 30px;
  bottom: 10px;
  &:hover {
    cursor: pointer;
  }
}

.canvas__choices__subtitle {
  margin-left: 10%;
  width: 80%;
  height: 100px;
  margin-top: 40px;
  color: $color-neutral-dark;
  font-size: 24px;

  display: flex;
}

.canvas__container__buttons {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  height: 40px;
  margin-top: 10px;
}

.canvas__buttons {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 15%;
  cursor: pointer;
}
.canvas__button__red {
  background: $color-tertiary;
}
.canvas__button__blue {
  background: $color-primary;
}
.canvas__button__yellow {
  background: $color-secondary;
}
