.preview {
  position: absolute;
  width: 80vw;
  height: 500px;
  z-index: 40; // Z-INDEX 40 !
  top: 88px;
  left: 10%;
  background-color: $color-neutral-light;
  border: 2px solid black;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.canvas__container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-image: url("../assets/test.png");
  background-repeat: no-repeat;
  z-index: 29;
  background-position: center;
}

.canvas__cadre {
  width: 118px;
  height: 190px;
  position: absolute;
  border: 2px dotted $color-neutral-dark;
  top: 190px;
  pointer-events: none;
  z-index: 100;
  opacity: 0.2;
}

.canvas__container__choices {
  width: 40%;
  height: 100%;
  position: absolute;

  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.canvas__erase {
  width: 220px;
  height: 40px;
  border-radius: 30px;
  border: 1.5px solid $color-neutral-dark;
  border-radius: 30px;
  bottom: 10px;
  &:hover {
    cursor: pointer;
  }
}

.canvas__choices__subtitle {
  margin-left: 10%;
  width: 80%;
  height: 100px;
  margin-top: 40px;
  color: $color-neutral-dark;
  font-size: 24px;

  display: flex;
}

.canvas__container__buttons {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  height: 40px;
  margin-top: 10px;
}

/* Back View Canvas */

.canvas__container__back {
  left: 30%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas__back {
  background-image: url("../assets/veste-back.png");
  background-repeat: no-repeat;
  z-index: 29;
  background-position: center;
}
.canvas__cadre__back {
  width: 110px;
  height: 190px;
  position: absolute;
  border: 2px dotted $color-neutral-dark;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 170px;
  pointer-events: none;
  z-index: 30;
  opacity: 0.2;
}
#canvas:hover {
  cursor: url("../assets/feutre-canvas.png") 4 12, auto;
}
#canvas__back:hover {
  cursor: url("../assets/feutre-canvas.png") 4 12, auto;
}

.canvas__erase__back {
  width: 220px;
  height: 40px;
  border-radius: 30px;
  border: 1.5px solid $color-neutral-dark;
  border-radius: 30px;
  bottom: 10px;
  &:hover {
    cursor: pointer;
  }
}

/* OPTIONS */
.canvas__buttons {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 15%;
  cursor: pointer;
}
.canvas__button__red {
  background: $color-tertiary;
}
.canvas__button__blue {
  background: $color-primary;
}
.canvas__button__yellow {
  background: $color-secondary;
}
