@mixin flex__row {
  display: flex;
  flex-direction: row;
}
@mixin flex__column {
  display: flex;
  flex-direction: column;
}

@mixin card($color-card) {
  width: 150px;
  height: 250px;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 20px;
  background-color: $color-neutral-light;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__icon {
    width: 56px;
    & svg path {
      transition: fill 0.1s ease;
    }
  }
  &__text {
    font-family: "Poppins";
    color: $color-neutral;
    display: flex;
    flex-direction: column;
    transition: color 0.3s ease;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 132.76%;
    margin-bottom: 30px;
  }

  &__paragraph {
    font-weight: normal;
    font-size: 12px;
    line-height: 138.76%;

    text-align: center;
  }

  &__btn {
    color: $color-card;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid $color-card;
    font-size: 15px;
    line-height: 138.76%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    & .card__icon svg path {
      fill: $color-neutral-dark;
    }

    & .card__text {
      color: $color-neutral-dark;
    }
    & .card__btn {
      color: $color-neutral-light;
      background-color: $color-card;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 10%;
    border: 10px solid $color-card;
    top: -10px;
    left: -10px;
    border-bottom-color: transparent;
    border-right: transparent;
    transition: all 1s;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    border: 10px solid white;
    bottom: -10px;
    right: -10px;
    border-top-color: transparent;
    border-left: transparent;
    transition: all 1s;
  }
  &:hover::before {
    width: 104.9%;
    height: 100%;
  }
  &:hover::after {
    width: 104.9%;
    height: 100%;
    border-color: $color-card;
    border-top-color: transparent;
    border-left: transparent;
  }
}

@mixin section-heading($color-heading) {
  color: $color-neutral-dark;
  &__title {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 3px;

    &::after {
      margin-left: 16px;
      content: "";
      display: inline-block;
      background-color: $color-heading;
      width: 11px;
      height: 11px;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 100.5%;
    font-family: "Cedarville Cursive";
  }
}
