@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin flex__row {
  display: flex;
  flex-direction: row;
}
@mixin flex__column {
  display: flex;
  flex-direction: column;
}

@mixin flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex__end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin card($color-card) {
  box-shadow: 0px 4px 10px rgba(137, 137, 137, 0.25);
  width: 222px;
  height: 310px;
  border: none;
  position: relative;
  background-color: $color-neutral-light;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins";
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  @include respond-below(sm) {
    width: 150px;
  }
  @include respond-below(xs) {
    width: 168px;
    height: 158px;
  }

  &__icon {
    width: 56px;

    & svg {
      @include respond-below(xs) {
        width: 36px;
      }
      & path {
        transition: fill 0.1s ease;
      }
    }
  }
  &__text {
    color: $color-neutral;
    display: flex;
    flex-direction: column;
    transition: color 0.3s ease;
    margin: 0px 20px;
  }

  &__title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 132.76%;
    margin-bottom: 15px;
    @include respond-below(sm) {
      font-size: 12px;
    }
  }

  &__paragraph {
    @include respond-below(sm) {
      display: none;
    }
    font-weight: normal;
    font-size: 12px;
    line-height: 138.76%;

    text-align: center;
  }

  &__more {
    font-weight: normal;
    font-size: 12px;
    line-height: 138.76%;
    text-align: center;
    position: absolute;
    overflow: hidden;
    background-color: $color-card;
    transition: height 0.5s cubic-bezier(0.93, 0, 0.83, 0.67);
    height: 0%;
    z-index: 3;
    color: $color-neutral-light;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & .card__more__text {
      font-size: 12px;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 10%;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & p {
        text-align: left;

        & a.link {
          text-align: center;
          font-size: 12px;
        }
        & em {
          font-weight: bold;
        }
      }
    }
  }

  &__btn {
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    color: $color-card;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid $color-card;
    font-size: 15px;
    line-height: 138.76%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: relative;

    &::after,
    &::before {
      content: "";
      display: inline-block;
      background-color: $color-card;
      @include respond-below(xs) {
        position: absolute;
        top: 25%;
        left: 60%;
      }
    }

    &::before {
      height: 10px;
      width: 2px;
      position: absolute;
      transform: rotate(90deg);
      @include respond-below(xs) {
        transform-origin: 50% 100%;
        transform: rotate(-45deg);
        height: 8px;
      }
    }
    &::after {
      position: absolute;
      height: 10px;
      width: 2px;
      transition: transform 0.2s 0.2s cubic-bezier(0.93, 0, 0.74, 1.51);
      @include respond-below(xs) {
        transform-origin: 50% 100%;
        transform: rotate(-135deg);
        height: 8px;
      }
    }
  }

  &:hover {
    box-shadow: 0px 15px 10px rgba(137, 137, 137, 0.25);
    & .card__icon svg path {
      fill: $color-neutral-dark;
    }

    & .card__text {
      color: $color-neutral-dark;
    }
    & .card__btn {
      color: $color-neutral-light;
      background-color: $color-card;
      transition: background-color 0.2s ease;

      &::after,
      &::before {
        background-color: $color-neutral-light;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 10%;
    border: 10px solid $color-card;
    top: -10px;
    left: -10px;
    border-bottom-color: transparent;
    border-right: transparent;
    transition: all 1s;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    border: 10px solid transparent;
    bottom: -10px;
    right: -10px;
    border-top-color: transparent;
    border-left: transparent;
    transition: all 1s;
  }
  &:hover::before {
    width: 104%;
    height: 100%;
  }
  &:hover::after {
    width: 104%;
    height: 100%;
    border-color: $color-card;
    border-top-color: transparent;
    border-left: transparent;
  }

  &.opened {
    .card__more {
      height: 100%;
    }

    .card__btn {
      background-color: $color-neutral-light;
      &::before,
      &::after {
        background-color: $color-card;
      }
      &::after {
        transform: rotate(90deg);
      }
    }
  }
}

@mixin section-heading($color-heading) {
  &__image {
    position: absolute;
    left: 0px;
    top: 105%;
  }
  &__title {
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 3px;

    &::after {
      margin-left: 16px;
      content: "";
      display: inline-block;
      background-color: $color-heading;
      width: 11px;
      height: 11px;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    line-height: 100.5%;
    font-family: "Cedarville Cursive";
  }
}

@mixin typeHoverOrVisible {
  opacity: 1;
  &.liquids__content__type--fluo {
    text-shadow: 0 0 15px rgba($color-neutral-light, 0.5);
    & svg {
      filter: drop-shadow(0 0 2px rgba($color-neutral-light, 0.5));
    }
  }
}
@mixin canvasTypeHoverOrVisible {
  opacity: 1;
  &.canvas__liquids__content__type--fluo {
    text-shadow: 0 0 15px rgba($color-neutral-light, 0.5);
    & svg {
      filter: drop-shadow(0 0 2px rgba($color-neutral-light, 0.5));
    }
  }
}

@mixin wavingAnimation {
  span:nth-child(1) {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
  }
  span:nth-child(2) {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
  }
  span:nth-child(3) {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
  }
  span:nth-child(4) {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
  }
  span:nth-child(5) {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }
  span:nth-child(6) {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
  }
  span:nth-child(7) {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
  }
  span:nth-child(8) {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
  }
  span:nth-child(9) {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
  }
  span:nth-child(10) {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
  }
  span:nth-child(11) {
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
  }
  span:nth-child(12) {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
  }
}
