$color-primary: #0075ff;
$color-secondary: #ffc700;
$color-tertiary: #f82155;
$color-neutral-light: #fbfbfb;
$color-neutral-dark: #2d2d2d;
$color-neutral: #979797;

$breakpoints: (
  xs: 600px,
  sm: 790px,
  md: 1100px,
  lg: 1200px
);

// md: 992px,
